* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  display: grid;
  grid: 100px / 0.5fr 2.5fr;
}


@import url('https://fonts.googleapis.com/css2?family=Fascinate+Inline&display=swap');



/* -------------------------NAV-------------------------- */

.nav {
  background-color: rgb(73, 94, 87);
  z-index: 5;
  position: fixed;
  height: 100vh;
  width: 240px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: rgb(244, 206, 20);
}

.logo {
  width: 50px;
  height: auto;
  position: absolute;
  top: 20px;
  border-top: 1px solid rgb(244, 206, 20);
  border-bottom: 1px solid rgb(244, 206, 20);
  padding: 10px 0;
}

.logo-title {
  position: absolute;
  top: 140px;
  font-size: 2.5rem;
  padding: 0 1rem;
  text-align: center;
  font-family: 'Fascinate Inline', cursive;
  letter-spacing: 2px;
}

.nav-menu li {
  list-style: none;
  margin: 20px;
  padding: 10px;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
}

.nav-menu a {
  text-decoration: none;
  color: rgb(244, 206, 20);
  transition: all 0.3s ease-in;
}

.nav-menu a:hover {
  color: white;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.nav-locations {
  background-color: rgb(244, 206, 20);
  width: 100%;
  text-align: center;
  height: 100px;
  position: absolute;
  bottom: 0px;
}

.nav-locations h6:hover {
  cursor: pointer;
  color: rgb(244, 206, 20);
  background-color: rgb(73, 94, 87);
}

.nav-locations h6 {
  border: 1px solid rgb(73, 94, 87);
  padding: 1rem;
  margin: 17px;
  color: rgb(73, 94, 87);
}

/* ---------------RESERVATIONS----------------- */

.reservations-sec {
  /* background-color: rgb(244, 206, 20); */
  background-image: url('./assets/EDITED-yellow-background.jpg');
  background-size: contain;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 120px 0;
  width: 100vw;
  z-index: 1;
  height: auto;
} 

.reservations-div {
  /* position: absolute;
  font-size: 2rem;
  width: 89%;
  top: 70px;
  right: 0px; */
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Fascinate Inline';
}

.locations-form, 
.date-form,
.time-form,
.party-form {
  padding: 10px 20px 8px 12px;
  width: 200px;
  font-size: 16px;
  border: 5px solid #FFCB00;
  border-radius: 5px;
}

.submit {
  background-color: rgb(73, 94, 87);
  border: none;
  color: rgb(244, 206, 20);
  font-weight: bold;
  font-size: 20px;
}


.reservations-div h3 {
  font-size: 1rem;
  background-color: #FFFFFF;
  border: 5px solid #FFCB00;
  width: 380px;
  padding: 0.5rem 1rem;
  margin-bottom: -5px; 
  z-index: 2;
  border-radius: 5px;
  font-style: italic;
  letter-spacing: 2px;
}

.reservations-div h1 {
  font-size: 3rem;
  background-color: #FFFFFF;
  border: 5px solid #FFCB00;
  padding: 0.5rem 5rem;
  z-index: 1;
  letter-spacing: 4px;
  border-radius: 5px;
  margin-bottom: 100px;
}

.input-div {
  display: flex;
}

.location-div {
  display: flex;
  flex-direction: column;
  margin: 0 50px;
}

.location-div label {
  margin-bottom: 10px;
  width: 100px;
}



.first-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-style: italic;
  letter-spacing: 2px;
  font-weight: bold;
}

.submit {
  width: auto;
  margin-top: 50px;
  padding: 0.5rem 1rem;
  transition: all 0.2s ease-in;
  border: 5px solid #FFCB00;
  border-radius: 5px;
}

.submit:hover {
  cursor: pointer;
  transform: scale(1.05);
}


/* -------------------ADDED------------------- */


.available-time {
  background-color: white;
  width: 50%;
  height: 100px;
  border: 5px solid #FFCB00;
  border-radius: 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 50px 0;
}

.available-time ul {
  display: flex;
}

.available-time ul li:hover {
  cursor: pointer;
}

.available-time ul li {
  list-style: none;
  margin: 0 10px;
  background-color: #ffcc0056;
  padding: 5px 15px;

}


.info-form {
  background-color: white;
  width: 30%;
  height: 500px;
  padding: 30px 0;
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: 200px 200px;
  grid-template-rows: 1fr 1fr 1fr;
  border: 5px solid #FFCB00;
  border-radius: 5px;
  
}

.info-form div label {
  margin-bottom: 5px;
}

.info-form div input {
  height: 40px;
  font-size: 16px;
  padding: 0 5px;
}

.checkbox-div {
  grid-column: 1 / 3;
}

.checkbox-label {
  margin-left: 10px;
  position: relative;
  bottom: 13px;
}

.info-form-div {
  display: flex;
  flex-direction: column;
}

.info-form .submit {
  position: relative;
  left: 60%;
  bottom: 20px;
}








/* --------------------------------- */

.disclaimers {
  text-align: center;
  position: relative;
  top: 70px;
}

.disclaimers h6 {
  margin-bottom: 10px;
}


/* -------------------FOOTER--------------------- */


.footer {
  background-color: #333333;
  height: 50vh;
  width: 100%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
}

.footer-div-social {
  background-color: gray;
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  width: 100%;
}

.icon {
  border: 1px solid rgb(244, 206, 20);
  margin: 5px 20px;
  padding: 10px;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.icon:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.footer-lists {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
}

.footer-lists ul li {
  list-style: none;
  margin-bottom: 10px;
}

.footer-lists ul li:hover {
  cursor: pointer;
  text-decoration: underline;
}